@font-face {
  font-family: 'Mona Sans';
  src: url('/Users/fatimamuhammed/Desktop/puretik tasks/task2/task2react/public/Mona-Sans-Black.ttf') format('truetype');
  font-weight:200;
  font-style: normal;
}


body, .quick-tour {
  font-family: 'Mona Sans', sans-serif;
}
